# Excluir todos los archivos .csv
*.csv
*.xlsx
*.txt
# Excluir todos los archivos en una carpeta específica
Data/*
img/*
infodata/*
Vault/*
# Excluir archivos específicos
# dataframes/pesados/data_frame_grande.csv
