# Excluir todos los archivos .csv
*.csv
*.xlsx
*.txt
*.png
*.jpeg
# Excluir todos los archivos en una carpeta específica
Data/*
Img/*
Infodata/*
Vault/*
Features/*
# Excluir archivos específicos
# dataframes/pesados/data_frame_grande.csv
