# Excluir todos los archivos .csv
*.csv
*.xlsx

# Excluir todos los archivos en una carpeta específica
Data/*
img/*
infodata/*
# Excluir archivos específicos
# dataframes/pesados/data_frame_grande.csv
